04. CLIESC/CLIESC_ConUni_DotNet_GR6/Connected Services/MiServicio/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CelsiusAFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitACelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinACelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kelvin" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinACelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvinACelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitAKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitAKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitAKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinAFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kelvin" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvinAFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvinAFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KmAMetros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kilometros" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KmAMetrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KmAMetrosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetrosACm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metros" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetrosACmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MetrosACmResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadasACm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pulgadas" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadasACmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PulgadasACmResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PiesAMetros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pies" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PiesAMetrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PiesAMetrosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MillasAKm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="millas" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MillasAKmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MillasAKmResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KgAGramos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kilogramos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KgAGramosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KgAGramosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramosAMg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gramos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramosAMgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GramosAMgResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibrasAKg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="libras" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibrasAKgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LibrasAKgResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnzasAGramos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="onzas" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnzasAGramosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OnzasAGramosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToneladasAKg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toneladas" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToneladasAKgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ToneladasAKgResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>